{% extends 'base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block main-content %}
<div class="container-fluid shadow">
    <div class="row">
        <div class="col-6">
            <div class="text-center">
                <p class="m-5 p-5">
                    Service_Provider is India’s largest online B2B marketplace, connecting buyers with suppliers. With 60% market share of the online B2B Classified space in India, the channel focuses on providing a platform to Small & Medium Enterprises (SMEs), Large Enterprises as well as individuals. Founded in 1999, the company’s mission is ‘to make doing business easy’.

160 Million Buyers | 7.3 Million Suppliers | 87 Million Products & Services
Service_Provider for Buyers
 Convenience of connecting with sellers anytime, anywhere
 Wider marketplace with a range of products and suppliers
 Payment Protection Program

Service_Provider for Suppliers
 Enhanced business visibility
 Increased credibility for your brand
 Lead Management System
 Instant Payment Solution: Pay with Service_Provider

Service_Provider has 4,088* employees located across nation.

*All given figures are as of September 30, 2022

Fact Sheet | Awards & Achievements
                </p>
            </div>
        </div>
 <div class="col-6">
     <div class="text-center">
        <img src="{% static 'images/product-jpeg.jpg' %}" class="d-block w-50 m-xl-5" alt="...">
        </div>
    </div>
    </div>

</div>
{% endblock main-content %}