{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password Done{% endblock title %}
{% block main-content %}
    <div class="container my-5">
        <div class="row">
            <h3> Welcome Anuj</h3>
            <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li  class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Passrowd Done</a></li>
                </ul>
            </div>
             <div class="col-sm-9 offset-sm-1 text-center">
                {% comment %} <div><iframe src="https://giphy.com/gifs/check-verified-checking-tf9jjMcO77YzV4YPwE" width="200" height="200"
                frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div> {% endcomment %}
            <p class="text-center fw-bold"> Passrowd Changed Successfully!
            </div> 
        </div>
    </div>
{% endblock  %}